# .env.example
BASE_PROJECT_PATH=/your/placeholder/path/here
NCES_HD_URL_TEMPLATE=https://nces.ed.gov/ipeds/datacenter/data/HD{}.zip
NCES_FLAGS_URL_TEMPLATE=https://nces.ed.gov/ipeds/datacenter/data/SFA{}.zip